/* GENERAL */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #E6E6FA;
  margin: 0;
  height: 1000px;
}

/* GENERAL */

/* HEADER */
body header{
  background-color: white;
  font-family: 'Roboto', sans-serif;
  height: 64px;
  padding: 0px 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.left {
  background-color: #0099f7;
  display: flex;
  align-items: center;
  gap: 4px;
}
.gradient-text {
  background: linear-gradient(
    90deg,
    #8e2de2 0%, /* Tím đậm */
    #4a00e0 40%, /* Tím/xanh */
    #0099f7 100% /* Xanh dương */
  );
  color: #0000;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.mid {
  background-color: #0099f7;
  display: flex;
  align-items: center;
  gap: 4px;
}

.right {
  background-color: #0099f7;
  display: flex;
  align-items: center;
  gap: 4px;
}